build/
*.ipr
fabric/run/
forge/run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.cs_data
.vscode
.settings
*.launch.DS_Store
.DS_Store
.architectury-transformer/
